<html>
<head>
<title>{{ pageTitle }} | {{ siteTitle }}</title>
</head>
<body>
{{#statusMessage}}
<div class="status-message">
    {{{../statusMessage}}}
</div>
{{/statusMessage}}
{{{body}}}
</body>
</html>
