<html>
<head>
<title>{{ pageTitle }} | {{ siteTitle }}</title>
</head>
<body>
{{#globalMessage}}
<div class="global-message">
    {{{../globalMessage}}}
</div>
{{/globalMessage}}
{{{body}}}
</body>
</html>
