<div{{#class}} class="{{../class}}"{{/class}}>
    {{#title}}<div class="list-title">{{{../link ../title}}}</div>{{/title}}
    <ul>
    {{#items}}
        <li>
            {{{../link .}}}
            {{#children}}{{{../../template ../children}}}{{/children}}
        </li>
    {{/items}}
    </ul>
</div>
